body{

background: #1c1c1c;

font-family: Arial;

color: white;

text-align: center;

margin-top: 120px;

}

.container{

background: white;

color: black;

width: 300px;

margin: auto;

padding: 30px;

border-radius: 20px;

box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

}

.tempo{

font-size: 50px;

margin: 20px;

font-weight: bold;

}